*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1e3a8a;
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffd700;
}

main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}
main {
  flex: 1;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;

}
h1,
h2 {
  color: #1e3a8a;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.destaques {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 280px;
  background: #fafafa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card p {
  padding: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #1e3a8a;
  color: white;
  margin-top: 20px;
}